<% @user ||= current_user %>
<div class="stats">
	<a href=" <%= following_user_path(@user) %>">
		<strong id="following" class="stat">
			<%= @user.followed_users.count %> 
			<!-- 没用build？？？ -->
		</strong>
		关注<!-- following -->
	</a>
	<a href=" <%= followers_user_path(@user) %>">
		<strong id="followers" class="stat">
			<%= @user.followers.count %>
		</strong>
		粉丝<!-- follower -->
	</a>
</div>