<footer class="footer">
	<small>
		行者
		by <a href="http://blog.caoping1990.cn/about" target=_blank>Tailang</a>
	</small>
	<nav>
		<ul>
			<li> <%= link_to "关于", about_path %> </li>
			<li> <%= link_to "联系我们", contact_path %> </li>
			<li><a href="http://blog.caoping1990.cn">新闻</a></li>
		</ul>
	</nav>
</footer>